<suite name="Suite">
  <test name="LoginTests">
    <classes>
      <class name="scripts.LoginTest"/>
    </classes>
  </test>
  <test name="PatientRegistrationTests">
    <classes>
      <class name="scripts.PatientRegTest"/>
    </classes>
  </test>
  <test name="VisitTests">
    <classes>
      <class name="scripts.VisitingdetailsTest"/>
      <class name="scripts.EndVisitAndDeleteTest"/>
    </classes>
  </test>
</suite>
